.shadow {
    box-shadow: 10px 5px 5px black;
}

.top-shadow {
    box-sizing: border-box;
    box-shadow: 0px -16px 15px -6px lightgray;
}

 /* dont touch this because it'll break <p> tag */
.profile-details p {
    text-align: center;
}

.cards * { box-sizing: border-box; min-width: 0; min-height: 0; }

.cards {
    box-sizing: content-box;
    display: inline-flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-grow: 1;
    /* min-height: fit-content; */
}

.kaart {
    width: 40vw;
    display:flex;
    margin-top: 15vh;
    flex-direction: column;
    height: 80vh;
    flex-grow: 0;
}

.kaart *{
    min-width: 0;
    min-height: 0;
    /* font-size-adjust: 0; */
}

.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.flex-spacer{
    flex-grow: 1;

}

.pdf {
    margin-right: 5vw;
}

.profile {
    margin-left: 5vw;
}

.profile .profile-image img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile .profile-image h2 {
    text-align: center;
}

.profile-details h2 {
    text-align: center;
}

.profile-details a {
    text-decoration: none;
}

.profile-details p {
    margin: 0;
    padding: 5px;
}

