.shadow{
    box-shadow: 10px 5px 5px black;
}

.kanker {
        align-items: center;
        margin: 0 auto;
        width: 60%;
        border: 2px solid black;
        margin-top: 100px;
        height: 30vw;
        background-color: white;
}